<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tma.ttc.androidK13.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ListCategoriesActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        
        <activity android:name="QuitActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        
        <activity android:name="GetDirectionActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan"> 			  
        </activity>
        
        <activity android:name="SearchResultActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>	     
		<activity android:name="SendMailActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>	
        <activity android:name="DetailInfoActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>
        	    
        <activity android:name="ViewWebActivity"
        		  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>	  
        
        <activity android:name="ViewMapActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>	   
       
         <activity android:name="ChangeLocationActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>
        
        <activity android:name="MyFavouriteActivity"
        		  android:label="@string/app_name"
        		  android:windowSoftInputMode="adjustPan">        
        </activity>		        

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest>